{% extends 'base.html' %}
{% load mytags %}
{% block content %}
<div class="crumbs">
	<ul class="breadcrumb">
		<li>
			<i class="fa fa-home fa-fw"></i>
			<a href='/osrm/index/'>控制台</a>
		</li>
		<li>
			<a href='/osrm/host/'>主机管理</a>
		</li>
	</ul>
</div>
<div class="page-header">
	<div class="page-title">
		<h3>主机管理</h3>
	</div>
</div>
<div class="ibox-content">
	<div class=button-table"">
		<a href=/osrm/host/host_add/ class="btn btn-primary">
		新增主机
		</a>
		<a class="btn btn-danger" id="del_host">
		删除主机
		</a>
		<a href=/osrm/host/host_perfor/ class="btn btn-info" >
		主机性能
		</a>
		<form id="search_form" method="get" action="" class="pull-right mail-search">
			<div class="input-group">
            	<input type="text" class="form-control input-sm" id="search_input" name="keyword" placeholder="Search">
                <div class="input-group-btn">
                	<button id='search_btn' type="submit" class="btn btn-sm btn-primary">
                                        -搜索-
                	</button>
                </div>
			</div>
        </form>
        
        <table class="table table-striped table-bordered table-hover " id="editable" >
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <input type="checkbox" id="check_all"  >
                                </th>
                                <th class="text-center">主机名称</th>
                                <th class="text-center">别名</th>
                                <th class="text-center">IP地址</th>
                                <th class="text-center">内网IP地址</th>
                                <th class="text-center">所属业务系统</th>
                                <th class="text-center">操作系统</th>
                                <th class="text-center">厂家</th>
                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        {% for object in objects.object_list %}
                            <tr class="gradeX">
                                <td class="text-center">
                                    <input type="checkbox" name="checked" value="{{ object.cuid }}">
                                </td>
                                <td class="text-center">{{ object.label_cn }}</td>
                                <td class="text-center">{{ object.alias }}</td>
                                <td class="text-center">{{ object.ipaddr }}</td>
                                <td class="text-center">{{ object.private_ipaddr }} </td>
                                <td class="text-center">{{ object.related_system_cn }}</td>
                                <th class="text-center">{{ object.os_version }}</th>
                                <td class="text-center">{{ object.vendor }}</td>
                                <td class="text-center">
                                	<a href="{% url 'asset_detail' %}?cuid={{ object.cuid }}" class="btn btn-xs btn-primary">详情</a>
                                    <a href="{% url 'asset_edit' %}?cuid={{ object.cuid }}" class="btn btn-xs btn-info">编辑</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

       </table>
       <div class="row">
       	<div class="col-sm-6">
        	<div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
               	显示 {{ objects.start_index }} 到 {{ objects.end_index }} ,共 {{ p.count }} 条
            </div>
       </div>
       {% include 'page.html' %}
       
	</div>
	
</div>
<script>

function dialog_open(check_array){
	console.log(check_array.join(","));
	var d=dialog({
		title:'提示',
		content:'确定删除',
		cancelValue:'取消',
		cancel:function(){
			
		},
		okValue:'确定',
		
		ok: function () {
		    $.post("{% url 'asset_del' %}",
		            {id: check_array.join(",")},
		            function(data){
		                $(".gradeX input:checked").closest("tr").remove();
					})	
			this.close(1)
				}})
	d.addEventListener('close', function () {
		var di =dialog({
			title: '提示',
			content:"删除成功(两秒后自动关闭)"});
		if (this.returnValue == 1){
			di.show()
			}
		setTimeout(function () {
    		di.close().remove();}, 
    		2000);
		})
	if(check_array.length){
		d.show()
		}
		};

$(document).ready(function(){
		$('#del_host').click(function(){
		var check_array = [];
		$(".gradeX input:checked").each(function() {
   			check_array.push($(this).attr("value"))
    		});
		dialog_open(check_array);
		})});
		
     
</script>

{% endblock %}